ul {
    list-style-image: url(/svg/arrow.svg);
    /* margin: 0 10px; */
    padding: 0 22px;
}

.error {
    padding: 40px 0;
}

.error h2 {
    font-size: 30px;
    line-height: 36px;
    color: #173e1e;
    margin-top: 0;
    padding: 0 40px;
}

.error p {
    margin: 16px 0;
}

.error a {
    border: 1px solid #173e1e;
    padding: 10px;
}

@media all and (max-width: 600px) {
    .error {
        padding: 40px;
    }
    ul { padding:  0 15px;}
}