.about-title {
    background-color: #4b3f72;
    padding: 50px;
}

.about-main {
    margin: 50px auto;
}

.about-main h1::after {
    width: 100px;
    content: "";
    background:#19647e;
    display: block;
    height: 2px;
}

@media all and (max-width: 940px) {
 .hidden { display: none;}

 img.respons-img {margin-top: 20px;}

 .about-main { margin: 25px auto;}
}
