.blog-title {
    background-color: #119da4;
    padding: 50px;
}

.bg {
    background: #f7f7f7;
}

.blog {
    padding: 50px 0;
    width: 1080px;
    margin: 0 auto;
}

.news-item {
border-bottom: 1px solid #dadada;
padding-bottom: 25px;
margin-bottom: 35px;
}

.news-item h2 {
    margin-bottom: 10px;
    color: #1f2041;
}

.date { margin-bottom: 10px;}


/* BLOG-IN */
.blog-in {
    background-color: #fff;
    margin: 0 auto;
    max-width: 1080px;
    box-sizing: border-box;
}

.blog-in h1 { 
    font-size: 34px;
    line-height: 40px;
    margin-bottom: 15px;
}

.blog-in-title {
    color: #fff;
    text-align: center;
}

.grouplabel {
    background-color: #fff;
    line-height: 42px;
}

.grouplabel em {
    font-size: 18px;
    padding: 0 15px;
    background: #1f2041;
    margin-right: 10px;
    display: inline-block;
    color: #fff;
}