.blog-title {
    background-color: #119da4;
    padding: 50px;
}

.bg {
    background: #f7f7f7;
}

.blog {
    padding: 50px 0;
    margin-bottom: -5px;
}

.blog-img {
    box-sizing: border-box;
    display: block;
    background-color: #fff;
    position: relative;
    border-bottom: 1px solid #cecece;
}

.blog-img h2, .blog-img p {
    margin: 20px;
}

a.tag {
    padding: 7px 10px 5px;
    font-size: 16px;
    display: inline-block;
    line-height: 22px;
    background-color: #ffc857;
    color: #fff;
}

.blog-img>a>img {
    margin-bottom: -34px;
    width: 100%;

}



/* BLOG-IN */
.blog-in {
    background-color: #fff;
    margin: 0 auto;
    max-width: 1080px;
    box-sizing: border-box;
}

.blog-in-title {
    color: #fff;
    text-align: center;
}

.grouplabel {
    background-color: #fff;
    line-height: 42px;
}

.grouplabel a {
    font-size: 18px;
    padding: 0 15px;
    background: #1f2041;
    margin-right: 10px;
    display: inline-block;
    color: #fff;
}