
/* :root {
    color: #1f2041;
    color: #4b3f72;
    color:#ffc857;
    color: #119da4;
    color: #19647e;
} */


html {
    height: 100%; 
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
}

body {
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    font-family:'Roboto', sans-serif;;
    font-size: 16px;
    line-height: 1.5;
}

main { 
    display: block; 
    overflow: hidden; 
}
img {
    border: none;
    outline: none;
    line-height: 0;
    vertical-align: middle; 
    max-width: 100%;
}

a {
    color: #1F2040;
    outline: 0; 
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    text-decoration: none;
}

.mrg-top { margin-top: 50px; }

.content-title {
    color: #ffc857;
    text-align: center;
}

.hr-color {
    width: 100px;
    border-top: 3px solid #19647e;
    border-radius: 10px;
}

*:focus { outline: 0; }

.cf:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
} /* clearfix */


ul { list-style: none;}

ul li {
    padding: 5px 0;
}

ol {
    margin: 0;
    padding: 0;
}

section {
    margin: 0 auto;
    max-width: 1280px;
    box-sizing: border-box;
}

.c {
    text-align: center;
}

.r {
    text-align: right;
}
h1 {
    font-size: 40px;
}

h1,h2,h3,h4 {
    font-weight: 300;
    color: #1F2040;
    margin: 0;
}
p {
    margin: 0;
}

a.submit {
    text-transform: uppercase;
    font-size: 15px;
    line-height: 20px;
    text-decoration: none;
    padding: 15px 30px;
    display: inline-block;
    color: #1F2040;
    background-color: #ffc857;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color .5s ease,border .5s ease;
    -webkit-appearance: none;
}

a.submit:hover {
    background-color: #19647e;
    color: #fff;
}

:root {
    --h4-font-size:25px;
    --h3-font-size: 30px;
    --h2-font-size: 35px;
    --h1-font-size: 40px;
    --h1-text-transform: uppercase;
    --h3-text-transform: uppercase;
}


@media all and (max-width: 460px) {
    h1 { font-size: 30px;}
}