footer {
    background-color: #1f2041;
}

footer h3 { color: #fff; }

footer section.footer-info {
    background-position: center;
    background-repeat: no-repeat;
}

footer .footer-pdg {
    padding-top:4em;
    padding-bottom: 2em;
}

footer div h3::after {
    display: block;
    width: 45px;
    background-color: #ffc857;
    margin: 15px 0;
    content: ' ';
    height: 1px;
    border: none;
}
footer section.footer-info a {
    margin: 14px 0;
    line-height: 30px;
}

footer section.footer-info a,
footer .copyright,
footer .copyright a {
    color: #fff;
}

footer .copyright {
    padding:0 15px;
    box-sizing: border-box;
    font-size: 12px;
}

@media all and (min-width:801px) {
    footer section.footer-info { 
        background-image:url(/img/footer2.png);
        background-size: contain; 
    }

    footer .copyright {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media all and (max-width:800px) {
    footer section.footer-info { 
        background-image:url(/img/footer3.png); 
        background-size: auto;
    }

    footer .footer-info {
        text-align: center;
    }
    footer .footer-info h3::after {
        margin: 15px auto;
    }
}

