.services-in-title {
    background-color: #ffc857;
    padding: 50px;
}

.anchor { position: relative;}

#anchor-1 {
  position: absolute;
  top: -150px;
}

.accordion-services {
    width:100%;
    margin: auto;
  }
  .accordion-services section a {
    background: #4b3f72;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: block;
    /* font-size: 1.3em; */
    overflow: hidden;
    border-bottom: 3px solid #1f2041;
  }
  .accordion-services section p {
    padding: 10px;
    overflow: hidden;
    height: 0;
    opacity: 0;
    background: #ffc857;
    color: #fff;
    overflow: hidden;
    transition: 0.5s;
  }
  .accordion-services section:target p {
    height: 100%;
    opacity: 1;
    padding: 20px;
  }
 