.services-in-title {
    background-color: #ffc857;
    padding: 50px;
}

.services-content {
    padding: 20px;
}

/* **** */
.first {
    /* background-color: #f3f3f3; */
    background-image: url(/svg/cert_medical_logo.svg),  linear-gradient(45deg, #fffefe9d 10%, #ffffff9e 90%);
    background-repeat: no-repeat;
    background-position: -170px;
    background-blend-mode: overlay;
    background-size: contain;
    margin: 20px 0;
}

.second-grid .grid-img {
    box-sizing: border-box;
    width: 600px;
    margin: 0 35px;
}

@media all and (min-width: 940px) {
    .first-flex {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .second-grid {
        display: grid;
        grid-template-columns:repeat(2,1fr);
    }
}


@media all and (max-width: 939px) {
    .first-flex img { display: none;}

}


.second {
    background-color: #e6e6e6;
}


