.services-in-title {
    background-color: #ffc857;
    padding: 50px;
}



.anchor { position: relative;}

#anchor-1 {
  position: absolute;
  top: -150px;
}

.accordion-services section {
  width: 1080px;
  margin: 0 auto;
} 

.accordion-services {
    max-width:1080px;
    margin: auto;
}


/* **** */

div.accordion {
  margin: 2em;
  position: relative;
}

div.accordion h2 {
  background: #1f2041;
  color:white;
  padding:20px;
  font-size: 16px;
}

div.accordion h2 {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
}

/* div.accordion h2::before{
  content:"";
  display: inline-block;
  border: 15px solid transparent;
  border-left:20px solid white;
} */

div.p {
  padding: 20px;
  background-color: white;
  box-shadow:0 0 10px 0 rgba(0, 0, 0, 0.2);
}

/* **** */

.services-container-width {
  text-align:center
}

@media all and (min-width:680px) {
  .services-container-width {
    margin:0 auto; 
    max-width: 100%; 
    padding: 0 10px;
  }

  .services-container-width h1 {
    font-size: 35px;
    padding: 20px;
  }
}

@media all and (min-width:940px) {
  .services-container-width {
    margin:0 auto; 
    max-width: 70%; 
  }
}

@media all and (max-width:679px) {
  .services-container-width {
    padding: 10px; 
  }

  .services-container-width h1 {
    font-size: 27px;
    line-height: 35px;
    padding: 10px;
  }

  .services-container-width h2 { font-size: 20px;}
}

@media all and (max-width:480px){
  div.accordion {
    margin: 0.5em;
  }
  
}