export const app = {
    name: "Cert Medical",
    environment: "developement",
    host: "http://localhost:3000",
    debug: true
}

export const api = {
    host: "http://cert-medical.local/api"
}

export const dashboard = {
    url: "http://cert-medical.local/admin"
}

export default { app, api, dashboard };